@model bool

@if (@Model == true)
{
    <div class="alert alert-success" role="alert">This is unique email </div>
}
else
{
    <div class="alert alert-danger" role="alert">This email is not unique</div>
}
